// Colours
$white: hsl(0, 0%, 90%);
$baseBackgroundColour: hsl(210, 7%, 10%);
$baseBackgroundColourLighter: hsl(210, 7%, 19%);
$highlightColour: hsl(41, 78%, 60%);
// Hex to filter here: https://codepen.io/sosuke/pen/Pjoqqp
$skillsFilter: invert(95%) sepia(0%) saturate(7471%) hue-rotate(111deg)
  brightness(104%) contrast(103%) opacity(80%);

// Measurements
$introBarThickness: 0.1rem;
$baseFontSize: 1.05rem;
$sectionHeaderFontSize: 3.3rem;
$sectionHeaderSpacing: 1.5rem;
$sectionHeaderUnderlineWidth: 8rem;
$sectionHeaderUnderlineHeight: 0.06rem;
$sectionYPadding: 6rem;
$sectionXPadding: 1.5rem;
$profileSmallSize: 20rem;
$profileLargeSize: 30rem;
$paragraphSpacing: 1rem;
$skillsSpacing: 2rem;
$skillsImageMargin: 0.5rem;
$skillsColumnMinWidthSmall: 4rem;
$skillsColumnMinWidthMedium: 6rem;
$skillsColumnMinWidthLarge: 7rem;
$projectsHeaderFontSize: 2.2rem;
$projectsSpacing: 0.9rem;
$projectsFontSize: $baseFontSize * 1.1;
$projectsTagsFontSize: $baseFontSize * 0.7;
$projectsTagsSpacing: 0.4rem;
$projectsLinksBackground: hsl(208, 98, 43);
$projectsLinksBackgroundHover: hsl(208, 98, 50);
$projectsLinksPadding: 0.4rem;

// Animations
$spawnDuration: 300ms;
$spawnTiming: ease-out;
$introBarDuration: 1000ms;
$introBarTiming: ease-in-out;
$bounceUpDuration: 500ms;
$bounceUpTiming: ease-out;
$skillsTransitionDuration: 400ms;
