@use "../abstracts" as *;
@use "../components" as *;

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  form {
    display: flex;
    flex-direction: column;

    button {
      @include buttonStyling;
    }
  }
}
