@use "../abstracts" as *;

header {
  position: fixed;
  z-index: 1000;
  background-color: transparent;
  right: 0;
  height: 100vh;

  button {
    position: relative;
    z-index: 3;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    font-size: 5rem;
    position: absolute;
    left: -1.5rem;
    top: 2rem;
    padding: 1.5rem 0.75rem;
    transform: translateX(-100%);

    &:focus {
      outline-style: dotted;
      outline-color: $highlightColour;
    }

    span {
      display: block;
      position: relative;

      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
      }

      &:before {
        bottom: 0.5rem;
      }

      &:after {
        top: 0.5rem;
      }
    }

    span,
    span:before,
    span:after {
      width: 2rem;
      height: 0.2rem;
      background-color: $white;
      transition: transform $navBarDuration $navBarTiming;
    }
  }

  nav {
    background-color: transparent;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    height: 100%;
    min-width: 100vw;
    transform: translateX(100%);
    transition-property: transform, width, height;
    transition-duration: $navBarDuration;
    transition-timing-function: $navBarTiming;

    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      li + li {
        margin-top: 2.5rem;
      }

      li {
        font-weight: bold;
        font-size: 2rem;

        // If device supports hover, change the colours of the nav links to provide a
        // hover effect
        @media (hover: hover) {
          a {
            color: $lighterGrey;

            &:hover,
            &:focus {
              color: $white;
            }
          }
        }
      }
    }
  }
}

// TOGGLEABLE CLASSES
.show-nav {
  nav {
    transform: translate(0);
  }

  button {
    span {
      transform: rotate(45deg);

      &:before {
        opacity: 0;
      }

      &:after {
        transform: rotate(90deg) translate(-0.5rem);
      }
    }
  }
}
// Simple blur filter, used to blur everything but navbar using js
.main-blur {
  filter: blur(0.75rem) brightness(55%);
}

// MIXIN FOR MEDIA QUERIES
@mixin horizontalLayout {
  header {
    nav {
      min-height: 8rem;
      max-height: 8%;
      transform: translateY(-100%) translateX(0);

      ul {
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 9rem;

        li + li {
          margin: 0 0 0 5rem;
        }
      }
    }
  }
}

// MEDIA QUERIES
@include desktopSmall {
  @include horizontalLayout;
}

@include bigScreens {
  @include horizontalLayout;
}
