@use "../abstracts" as *;

header {
  position: fixed;
  z-index: 1000;
  background-color: transparent;
  right: 0;
  height: 100vh;
}

button {
  position: relative;
  z-index: 3;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 5rem;
  position: absolute;
  left: -0.75rem;
  top: 1rem;
  padding: 0.25rem;
  transform: translateX(-100%);

  span {
    display: block;
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
    }

    &:before {
      bottom: 0.5rem;
    }

    &:after {
      top: 0.5rem;
    }
  }

  span,
  span:before,
  span:after {
    width: 2rem;
    height: 0.2rem;
    background-color: $white;
    transition: transform $navBarDuration $navBarTiming;
  }
}

nav {
  background-color: $highlightColour;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  height: 100%;
  min-width: 20rem;
  transform: translateX(100%);
  transition: transform $navBarDuration $navBarTiming;

  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 0;

    li + li {
      margin-top: 1.5rem;
    }

    li {
      font-weight: bold;
      font-size: 2rem;

      a {
        color: $darkerWhite;

        &:hover,
        &:focus {
          color: $white;
        }
      }
    }
  }
}

.show-nav {
  nav {
    transform: translateX(0);
  }

  button {
    span {
      transform: rotate(45deg);

      &:before {
        opacity: 0;
      }

      &:after {
        transform: rotate(90deg) translate(-0.5rem);
      }
    }
  }
}
