@use "../variables" as *;
@use "../keyframes" as *;

#opening {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background: url("../assets/images/background.jpg") no-repeat center center
    fixed;
  background-size: cover;

  #opening-content {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    #opening-header {
      &:after {
        content: "";
        height: $introBarThickness;
        border-bottom: $introBarThickness solid $white;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        animation: introductionBar $introBarDuration $introBarTiming;
      }
    }

    .wrapper {
      position: relative;
      overflow: hidden;
      padding: 1rem 0;
      width: 100%;
    }

    h1 {
      font-weight: bold;
      word-spacing: -1.5rem;
      letter-spacing: -0.2rem;
      font-size: 4.4rem;
      transform: translateY(120%);
      animation: spawnUp $spawnDuration $spawnTiming $introBarDuration/3;
      animation-fill-mode: forwards;
    }

    p {
      font-weight: bold;
      letter-spacing: 0.02rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      transform: translateY(-200%);
      animation: spawnDown $spawnDuration $spawnTiming $introBarDuration/3;
      animation-fill-mode: forwards;
    }
  }

  #opening-scroll {
    margin-bottom: 1rem;

    span {
      display: flex;
      flex-direction: column;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.02rem;
      font-weight: bold;
      font-size: 0.85rem;
      animation: bounceDown $bounceUpDuration $bounceUpTiming $introBarDuration *
        1.5;

      img {
        height: 2.5rem;
        animation: bounceDown $bounceUpDuration $bounceUpTiming
          $introBarDuration * 1.5;
        animation-iteration-count: 2;
      }
    }
  }
}
