@use "../abstracts" as *;

#projects {
  #projects-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: $projectsGap;

    @include desktopSmall {
      grid-template-columns: 1fr 1fr;
    }

    @include bigScreens {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
  }

  .project {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    gap: $projectsContentGap;

    iframe {
      width: 100%;
      min-height: $projectsVideoMinSize;
      border-radius: 1rem;
    }

    h3 {
      font-size: $projectsHeaderFontSize;
      font-weight: bold;
    }

    .project-techs {
      display: flex;
      flex-wrap: wrap;

      & > * {
        margin-top: $projectsSpacingSmall;
        font-weight: bold;
        font-size: $projectsTagsFontSize;
        padding: $projectsTagsSpacing;
        margin-right: $projectsTagsSpacing;
        background-color: $baseBackgroundColourLighter;
        border-radius: $projectsTagsSpacing;
      }
    }

    .project-summary {
      font-size: $projectsFontSize;
    }

    .project-links {
      a {
        color: $highlightColourLighter;
        display: inline-block;
        border-radius: 0.5rem;
        border: 0.15rem solid $highlightColour;
        margin-right: $projectsSpacingSmall;
        padding: $projectsLinksPadding $projectsLinksPadding * 2;
        font-weight: bold;
        font-size: $projectsFontSize;
        transition-property: background-color, color, transform;
        transition-duration: $buttonHoverDuration;
        transition-timing-function: ease-in;

        &:hover,
        &:active,
        &:focus {
          color: $white;
          background-color: $highlightColour;
          border-color: $highlightColourLighter;
          transform: translateY(-2%);
        }
      }
    }
  }
}
