@use "../variables" as *;

#skills {
  #skills-container {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax($skillsColumnMinWidth, 1fr)
    );
    grid-gap: $skillsSpacing;

    .skill {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: $skillsColumnMinWidth + $skillsSpacing;

      img {
        width: $skillsImageWidth;
        margin-bottom: $skillsImageMargin;
        transition: transform $skillsTransitionDuration;
      }

      p {
        font-size: $baseFontSize * 0.95;
        font-weight: bold;
      }

      // If device supports hover, apply some simple animations
      @media (hover) {
        p {
          opacity: 0;
          transform: translateY(100%);
          transition: transform $skillsTransitionDuration,
            opacity $skillsTransitionDuration linear;
        }

        &:hover {
          p {
            transform: translateY(-$skillsImageMargin);
            opacity: 1;
          }

          img {
            transform: translateY(-$skillsImageMargin);
          }
        }
      }
    }
  }
}
