@use "../abstracts" as *;

html {
  font-family: "roboto", sans-serif;
  color: $white;

  p {
    font-size: $baseFontSize;
  }

  a {
    text-decoration: none;
    color: $white;
  }
}

section:not(#opening) {
  width: 100%;
  padding: $sectionYPadding $sectionXPadding;

  @include tablet {
    padding: $sectionYPadding $sectionXPadding * 2;
  }

  @include desktopSmall {
    padding: $sectionYPadding $sectionXPadding * 3;
  }

  @include desktopMedium {
    padding: $sectionYPadding $sectionXPadding * 4;
  }

  @include desktopLarge {
    padding: $sectionYPadding $sectionXPadding * 12;
  }
}

// Alternating background colours
section:nth-of-type(even) {
  background-color: $baseBackgroundColour;
}
section:nth-of-type(odd) {
  background-color: $baseBackgroundColourLighter;
}
